<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
    {{if eq .Name "Willi"}}
        <h1>Hello, {{.Name}}</h1>
    {{else if eq .Name "Buli"}}
        <h1>Hi, {{.Name}}</h1>
    {{else}}
        <h1>Hello</h1>
    {{end}}
</body>
</html>